@use './styles' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $main-color;
    font-family: $font-family;
    width: 100vw;
    height: 100vh;
    @include flex(row-reverse, space-between, flex-start);

    .main_content {
        @include flex(column, space-between, center);
        height: 100vh;

        .task_content {

            .main_tasks {
                @include flex(column, center, center);
                gap: 20px;
            }
        }
    }
}

.content {
    width: 100%;
    height: 100vh;
    @include flex(column, space-between, center);
    gap: 20px;
}