@use './styles' as *;

.burger_menu {
    display: none;
    -webkit-tap-highlight-color: transparent;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 30px;
    width: 60px;
    height: 55px;
    border-radius: 17px;
    color:white;
    background-color: $secondary-color;
    gap: 6px;
    cursor: pointer;
    
    .top_line, .middle_line, .bottom_line {
        background-color: $main-color;
        display: inline;
        width: 70%;
        height: 6px;
        border-radius: 4px;
    }
 

    .middle_line.active {
        display: none;
    }

    .top_line.active {
        position: absolute;
        animation: rotateTop .5s forwards;
    }

    .bottom_line.active {
        position: absolute;
        animation: rotateBottom .5s forwards;
    }

    .top_line.deactivate {
        position: absolute;
        animation: returnTop .5s forwards;
    }

    .middle_line.deactivate {
        display: flex;
    }

    .bottom_line.deactivate {
        position: absolute;
        animation: returnBottom .5s forwards;
    }

    .line_show {
        position: relative;
        display: inline;
    }

    @keyframes rotateTop {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(45deg);
        }
    }

    @keyframes rotateBottom {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(-45deg);
        }
    }

    @keyframes returnTop {
        from {
            transform: rotate(45deg);
        }
        to {
            transform: rotate(0);
        }
    }

    @keyframes returnBottom {
        from {
            transform: rotate(-45deg);
        }
        to {
            transform: rotate(0);
        }
    }

    @keyframes slowlyShow {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

@media all and (max-width: $layout-breakpoint-mobile) {


    .burger_menu {
        @include flex(column, center, center);
    }

    .sidebar_mobile {
        animation: showSidebar .3s forwards;
        // font-size: 1.05em;
        .bg_text {
            display: none;
        }

        position: absolute;
        left: 50%;
        bottom: 0;
        margin-bottom: 100px;
        transform: translate(-50%);
        display: flex;
        height: auto;
        width: 80%;
        
        .sidebar_bg {
            box-shadow: 0 0 10px $secondary-color;
            @include flex(column, center, center);
            .todo_nav {
                margin: 40px 0;
            }
        }

        @keyframes showSidebar {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        @keyframes hideSidebar {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
                z-index: -1;
            }
        }
    }
}