@use './styles' as *;

main {
    width: auto;
    color: $font-color;
    @include flex(column, center, center);
    gap: 20px;
    a {
        cursor: pointer;
        color: $read-color;
    }
    .add_task {
        font-weight: bolder;
    }

    .tasks_list {
        @include flex(column, center, center);
        gap: 20px;
    }

}