@use './styles' as *;

main {
    width: auto;
    color: $font-color;
    @include flex(column, center, center);
    gap: 10px;
    a {
        cursor: pointer;
        color: $read-color;
    }
    .add_task {
        // background-color: red;
        font-weight: bolder;
    }

    .new_task_form {
        background-color: $secondary-color;
        width: 300px;
        height: 200px;
        @include flex(column, center, center);
        border-radius: 20px;
    }
}