@use './styles' as *;

header {
    width: auto;
    font-family: $secondary-font;

    p {
        color: #000000;
        height: 100px;
        @include flex(column, center, center);
        font-size: 130px;
        margin: 0 auto;
    }
}

.main_content {
    width: 100%;
    @include flex(column, space-between, center);
}