@use './styles' as *;

@media all and (max-width: $layout-breakpoint-mobile) {

    .add_task {
        margin-bottom: 60px;
    }

    .burger_menu {
        @include flex(column, center, center);
    }

    .sidebar {
        display: none;
        .sidebar_bg {
            background-color: $main-color;
            border: 3px solid $secondary-color;
            box-shadow: 0 0 2px red;
        }
    }

    .main_content {
        width: 100vw;

        header {
            p {
                font-size: 85px;
            }
        }

        .task_content {
            width: auto;

            .main_tasks {

                .tasks_list {

                    .task {
                        font-size: 0.95em;
                        width: 320px;
                        height: auto;
                        min-height: 50px;
                        margin: 2px 5px;

                        input[type="checkbox"] {
                            min-width: 17px;
                            min-height: 17px;
                        }

                        .task_title {
                            width: auto;
                            word-wrap: break-word;
                            margin: 10px;
                        }
                        .trash_icon {
                            width: 19px;
                            height: auto;
                        }

                        .info {
                            input {
                                max-width: 120px;
                            }
                        }
                    }
                }
            }
        }
    }

}