@use './styles' as *;

.sidebar {
    width: 200px;
    height: 100%;
    padding: 5px;
    // animation: show_sidebar;
    // animation-duration: 1s;
    @include animateOpacity();
    // position: sticky;
    // top: 0;
    // margin-top: -150px;



    .sidebar_bg {
        border-radius: 15px;
        color: $font-color;
        @include flex(column, space-between, center);
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-color: $secondary-color;
    
    
        .todo_nav {
            @include flex(column, center, flex-start);
            font-weight: bolder;
            margin-top: 30%;
            gap: 10px;

            .date_links {
                gap: 5px;
            }

            a {
                cursor: pointer;
                padding: 3px 6px;

                &:hover {
                    background-color: $active-project-bg;
                    border-radius: 9px
                }
            }

            ul {
                @include flex(column, center, flex-start);

                .active_project {
                    border-radius: 9px;
                    background-color: $active-project-bg;
                }
            }
        }

        .bg_text {
            // color: #3904AB;
            color: $darker-secondary;
            font-family: $secondary-font;
            transform: rotate(-90deg);
            font-size: 130px;
            margin-left: 128px;
            margin-bottom: 50px;
        }

        .projects {
            @include flex(column, center, flex-start);
            gap: 10px;
            margin-top: 5px;

            span {
                margin-left: -15px;
                font-size: 1.1em;
            }
            
            a {
                font-size: 0.9em;
            }

            .projects_list {
                @include flex(column, center, flex-start);
                gap: 8px;
                width: 120px;

                .project_name_container {
                    width: 100%;
                    @include flex(row, space-between, center);

                    &:hover {
                        background-color: $active-project-bg;
                        border-radius: 9px;
                        .x_icon{
                            display: block;
                            width: 18px;
                            height: auto;
                            margin-right: 2px;
                            cursor: pointer;
                        }
                    }

                    a {
                        @include flex(row, space-between, center);
                        width: 100%;
                        text-align: center;
                        overflow-wrap: break-word;
                        padding: 3px 6px;

                        
                    }
                    
                    .x_icon{
                        display: none;
                    }
                }
                .active_project {
                    border-radius: 9px;
                    background-color: $active-project-bg;
                }

                
            }

            .new_projects {
                button {
                    width: 100px;
                    border: 2px solid $darker-secondary;
                    color: $darker-secondary;
                    font-weight: bolder;
                    border-radius: 10px;
                    padding: 2px 5px;
                    background: none;
                    cursor: pointer;

                    &:hover {
                        background-color: $darker-secondary;
                        color: $main-color;
                    }
                }

                input[type=text] {
                    margin-bottom: 10px;
                    width: 100px;
                    display: none;
                    padding: 3px 5px;
                    background: none;
                    border: 2px solid $darker-secondary;
                    color: $font-color;
                    font-weight: bold;
                    border-radius: 11px;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

}