@use './styles' as *;

.sidebar {
    width: 200px;
    height: 100%;
    padding: 5px;

    .sidebar_bg {
        border-radius: 10px;
        color: $font-color;
        @include flex(column, space-between, center);
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-color: $secondary-color;
    
    
        .todo_nav {
            @include flex(column, center, flex-start);
            font-weight: bolder;
            margin-top: 30%;
            gap: 12px;

            a {
                cursor: pointer;

                &:active {
                    border-bottom: 2px solid red;
                }
            }
        }

        .bg_text {
            color: #3904AB;
            font-family: $secondary-font;
            transform: rotate(-90deg);
            font-size: 130px;
            margin-left: 128px;
            margin-bottom: 50px;
        }

        .projects {
            @include flex(column, center, flex-start);
            gap: 10px;
            margin-top: 5px;

            span {
                margin-left: -15px;
                font-size: 1.1em;
            }
            
            a {
                font-size: 0.9em;
            }

            .projects_list {
                @include flex(column, center, flex-start);
                gap: 8px;
                width: 100px;

                a {
                    width: 100%;
                    overflow-wrap: break-word;
                }

                
            }

            .new_projects {
                button {
                    width: 100px;
                    border: 2px solid #3904AB;
                    color: #3904AB;
                    font-weight: bolder;
                    border-radius: 10px;
                    padding: 2px 5px;
                    background: none;
                    cursor: pointer;

                    &:hover {
                        background-color: #3904AB;
                        color: $secondary-color;
                    }
                }

                input[type=text] {
                    margin-bottom: 10px;
                    width: 100px;
                    display: none;
                    padding: 3px 5px;
                    background: none;
                    border: 2px solid #3904AB;
                    color: $font-color;
                    font-weight: bold;
                    border-radius: 11px;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}