@use './styles' as *;

.task {
    width: 400px;
    @include flex(row, space-between, center);
    padding: 10px 15px;
    // border: 3px solid $third-color;
    // border-radius: 22px;
    height: 70px;
    width: 800px;
    font-size: $font-size;

    .task_title {
        // width: 250px;
        width: auto;
        max-width: 250px;
        word-wrap: break-word;
        margin: 10px;
    }

    .info {
        @include flex(row, space-between, center);
        gap: 10px;

        input {
            background-color: $main-color;
            border: none;
            border-bottom: 2px solid $secondary-color;
            color: $font-color;

            &:focus {
                outline: none;
            }

            &::selection {
                color: $main-color;
            }
        }

        .input_date {
            border: none;
        }
    }
    @media (max-width: $layout-breakpoint-small) {
        width: 500px;
    }
    .delete_task, .date {
        @include flex(row, center, center);
        cursor: pointer;
    }

    .trash_icon, .calendar_icon {
        width: 22px;
        height: auto;
    }

    .input_date {
        cursor: pointer;
        border: none;
        padding: 2px;
        width: 27px;
        margin: 0;
        font-size: 1.1em;
        background: none;
        color: #7c7c7c;

        &:focus {
            outline: none;
        }

        &::selection {
            background-color: $secondary-color;
            color: $main-color;
        }
    }
}

.not_finished {
    border: 3px solid $third-color;
    border-radius: 22px;
    input[type="checkbox"] {
        appearance: none;
        background-color: $main-color;
        margin: 0;
        font: inherit;
        color: $third-color;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid $third-color;
        border-radius: 0.3em;
        transform: translate(-0.075em);
        display: grid;
        place-content: center;
        cursor: pointer;

        &::before {
            content: "";
            width: 0.6em;
            height: 0.6em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em $third-color;
            border-radius: 0.1em;
        }

        &:checked::before {
            transform: scale(1);
        }
    }
}

.finished {
    border: 3px solid $task-finished;
    color: rgb(230, 230, 230, .4);
    text-decoration: line-through;
    border-radius: 22px;

    input[type="checkbox"] {
        appearance: none;
        background-color: $main-color;
        margin: 0;
        font: inherit;
        color: $task-finished;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid $task-finished;
        border-radius: 0.3em;
        transform: translate(-0.075em);
        display: grid;
        place-content: center;
        cursor: pointer;

        &::before {
            content: "";
            width: 0.6em;
            height: 0.6em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em $task-finished;
            border-radius: 0.1em;
        }

        &:checked::before {
            transform: scale(1);
        }
    }
}